/* frontpage category hack */
.block_course_categories.block {
    display: none;
}

.editing .block_course_categories.block {
    display: block;
}

.newcatwrap {
	margin: 0 0;
	padding: 0 0;
}

.newcat * {
	list-style-type: none;
    max-width: 100%;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
	/*margin: 0 0!important;*/
	padding: 0 0;
    overflow: hidden;
}
.newcat {
	display: block;
	cursor: pointer;
	position: relative;
    float: left;
    width: 32.5%;
    margin-right: 1.25%;
    margin-bottom: 1.25%;
}

/*
.newcat {
	float: left;
	width: 32.5%;
	margin-right: 1.25%;
	margin-bottom: 1.25%;
}


.newcat.catclass1, .newcat.catclass4, .newcat.catclass7, .newcat.catclass10 {
	margin-right: 0px;
}
*/

.newcatwrap .newcat:last-of-type {
	margin-right: 0px;
}

/*
.newcat.catclass1:after, .newcat.catclass4:after, .newcat.catclass7:after, .newcat.catclass10:after {
	content: " ";
	clear: both;
	display: block;
}
*/

/*
.newcat img {
	width: 100%;
	margin: 0 0 !important;
}
*/

.newcat br {
	display: none;
}

.newcat .catheader {
    background: rgba(200, 16, 46, 0.7) none repeat scroll 0 0;
    font-size: 18px;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 76%;
    /*width: 100%;*/
    padding-left: 5%;
    width: 94.5%;
    margin-left: 0.4em;
    color: #fff;
       -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.newcat:hover .catheader {
	color: #fff;
	 background: rgba(200, 16, 46, 0.9) none repeat scroll 0 0;
}

.newcat .catheader::after {
    background: transparent;
    color: #fff;
    font-size: 24px;
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
    float: right;

    margin-left: 0px;
    margin-right: 15px;
    margin-top: 1.5%;
    position: relative;
    right: 0;
    top: 0;
}

.newcat33 ul li {
	display: none;
	background: #fff;
}

.newcat33 ul li:first-of-type {
	display: inherit;
}

.newcat-subs {
	background: #fff none repeat scroll 0 0;
    padding: 25px 0;
    position: absolute;
    width: 94.5%;
    margin-left: 0.5em;
    z-index: 9999;
    margin-top: -20%;
    
   -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  height: 0px;
  overflow: hidden;
  padding: 0 0;
}

@media (min-width: 769px) {
	.newcat:hover .newcat-subs {
		display: block;
		height: auto;
		padding: 5px 0;
		border: 1px solid #ecebeb;
        width: 95%;
        margin-left: 0.4em;
	}
}


.newcat-subs a {
	display: block;
	padding: 7px 7px 7px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #ecebeb;
}

.newcat-subs a:last-of-type {
	border-bottom: 0px;
}

.newcat-subs a:hover {
	color: #c8102e;
	text-decoration: underline;
}


/*not logged in frontpage */
#page-site-index .site-topic222, #page-site-index.notloggedin #block-region-side-post {
	display: none;
}

#page-site-index.notloggedin .site-topic222 {
	display: block;
	max-width: 1170px;
	width: 90%;
	margin: 0px auto;
	position: relative;
}

#hero1 {
	margin-bottom: 30px;
}

.fpminner {
	padding: 10px 5%;
	background: #ecebeb;
	padding-bottom: 80px;
	min-height: 210px;
	position: relative;
	overflow: hidden;
}

.fpminner h3 {
	margin: 0 0 0px;
	font-weight: 600;
	color: #c8102e;
	max-width: 60%;
	line-height: normal;
}

.fpminner > p {
	margin-top: 40px;
}

.fpminner .lowerdate {
    bottom: 20px;
    color: #aaa;
    position: absolute;
    margin-top: 0px;
}

.lowerdate a{
    display: block;
}

.fpminner > img {
    display: block;
    margin-bottom: 15px;
    margin-left: -5%;
    margin-top: -10px;
    position: relative;
    width: 115%;
}

@media (max-width: 900px) { 
	.fpminner {
		margin-bottom: 30px;
	}
}



/* --- Ajustes NOV 2019 --- */

body.path-course.path-course-view .fixymenu.lang_en, .headicos-holder.lang_en {
   display: none;
}
body.path-course.path-course-view .fixymenu.lang_es, .headicos-holder.lang_es {
   display: none;
}
body.path-course.path-course-view .fixymenu.lang_ca, .headicos-holder.lang_ca {
   display: none;
}
body.path-course.path-course-view .fixy-block.fixy-advanced {
    display: none;
}

body.path-site .navbar #headicos .headicos-holder {
    display: none;
}

/* Logo */
nav.navbar a.navbar-brand {
    background-repeat: no-repeat;
    height: 80px;
    width: 200px;
    display: block!important;
}

nav.navbar {
    max-height: 200px;
}

/* fixy menu */
.fixymenu {
    display: none;
}
body.path-course.path-course-view .fixymenu {
    position: fixed;
    display: block;
    left: 0px;
    top: 20%;
    width: 65px;
}
body.notloggedin .fixymenu, body#page-site-index .fixymenu {
    display: none !important;
}
.fixymenu-inner {
    position: relative;
}
.fixy-block {
    background: #fff;
    text-align: center;
    padding: 0px 0px;
    min-height: 65px;
    width: 65px;
    padding: 0 0px;
    position: relative;
}
.fixy-block:last-of-type {
    border-bottom: 0px;
}
.fixy-block.redtop {
    background: #c8102e;
    color: #fff;
    padding: 10px 5px 10px;
    font-size: 11px;
    font-weight: 400;
    min-height: inherit;
    border-bottom: 0px;
    cursor: auto !important;
}
.fixy-divider {
    background: #c8102e;
    height: 3px;
    width: 50px;
    position: absolute;
    bottom: -1px;
    left: 7.5px;
}
.fixy-icon {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    width: 65px;
    cursor: pointer;
}
.fixy-icon img {
    height: 30px;
}
.fixy-text {
    display: none;
    min-width: 115px;
    float: left;
    min-height: 55px;
    font-size: 10px;
    padding: 10px 5px;
    background: rgba(156,156,156, .8);
    color: #fff;
    position: absolute;
    left: 65px;
    top: 0px;
    text-align: left;
}
.fixy-block:hover {
    background: rgba(156,156,156, 1);
}
.fixy-block:hover .fixy-text {
    display: block;
}
.change-fixy {
   min-height: 0px;
   font-size: 10px;
}
.change-fixy p {
   color: black;
   padding: 10px 0;
}
.fixymenu .fixylang .fixy-text a {
    display: block;
    color: #fff;
    padding-bottom: 3px;
}
@media (max-width: 767px) {
    body.path-course.path-course-view .fixymenu {
    position: relative !important;
    top: 0px;
    width: auto;
    }
    
    .fixy-block {
    float: left;
    }
    
    .fixy-divider {
   background: #c8102e none repeat scroll 0 0;
   bottom: 5px;
   height: 50px;
   left: inherit;
   position: absolute;
   right: 0;
   width: 3px;
    }
    .fixy-text {
        top: -75px;
        left: 0px;
    }
}

#headicos {
    text-align: right;
    width: 120px;
    margin: 0 auto;
}

#headicos img {
    height: 26px;
}
.ger-fabi-teacher{
	display: none;
}
.ger-course-only {
    display: none;
}
body.path-course.path-course-view .ger-fabi-editingonly {
    display: none;
}

.navbar.navbar-bootswatch {
    background-color: #fff;
    max-height: 180px;
}

ul.nav.navbar-nav.ml-auto {
    margin-left: 0 !important;
}


/*-- Nuevos ajustes NOV-DIC 2019 - 2020 --*/

/*-Login-*/
body#page-site-index.notloggedin #headicos {
    display: none;
}

body#page-site-index.notloggedin #page-header {
    display: none;
}

body#page-site-index.notloggedin div#page-content {
    display: none;
}

body#page-site-index.notloggedin #page #hero1 {
    max-width: 100%;
}


/*-Header-*/
.navbar #headicos a:hover {
    text-decoration: none;
}

.navbar #headicos{
    text-align: left;
}

/*-Header boton activar edicion
#page-course-view-topics #headicos a.ger-active-edition.btn.btn-primary.btn-sm {
    background: #fff;
    border: none;
    color: rgba(0,0,0,.5);
    padding-right: 1em;
}
-*/

body#page-course-view-topics.path-course {
    padding-left: 5em;
}

@media (max-width: 823px) {
    body#page-course-view-topics.path-course {
    padding-left: 0em;
    }
}

@media (max-width: 823px) {
    body#page-site-index #region-main {
    overflow-x: unset;
    padding-bottom: 9em;
    padding-top: 0em;
    margin: 0;
    }
}

@media (max-width: 767.98px){
    #region-main-box #region-main .course-content .blockcolumn, .region-main {
    max-width: 100%;
    }
    #region-main-box #region-main.region-main-content {
    margin-left: 0;
    }
}

@media (max-width: 650px) {
  .newcat {
    float: none;
    width: 100%;
  }
  .newcat .catheader {
    position: relative;
    margin-top: 0.5em!important;
  }

  .newcat * {
    list-style-type: none;
    margin: 0 0;
  }
}

#page-site-index #region-main {
    overflow-x: visible;
    padding-bottom: 1em;
}

@media (max-width: 1200px) {
    .newcat .catheader {
        font-size: 0.9em;
    }
}


/*-Quitar scroll lateral de 'Course available to you'-*/
#inst57988 .card-text #noajaxtree .no-overflow {
    overflow: unset;
}

/*-Footer-*/
footer#page-footer .sitelink img {
    display: none;
}

footer#page-footer .logininfo {
    display: none;
}

#page-footer.text-light div#aulafooter {
    color: #373a3c;
}

#page-footer.bg-dark {
    background-color: #fff!important;
}

#page-footer a {
    color: #c8102e;
}


.lang_en {
   display: none;
}

.lang_es {
   display: none;
}

.lang_ca {
   display: none;
}

#page-footer .helplink a .icon {
    color: #c8102e;
    margin-left: 0;
}

#page-footer #aulafooter .container {
    padding-left: 0px;
}

#page-footer #aulafooter .container .lang_en {
    padding-left: 0px;
}

#page-footer #aulafooter .container .lang_ca {
    padding-left: 0px;
}

/*Dropdown languages*/
.language_mobile {
    display: none;
    color: #c8102e;
}

.langmobile_hidden {
    display: block;
}
  
/*Responsive*/  
@media (max-width: 650px) {
  .language_mobile {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 10px;
    width: 35%;
    background-color: #fff;
    text-align: left;
  }

  .langmobile_hidden {
    display: none;
  }

  #cs_lang_responsive .nav.navbar-nav.d-md-none {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.15);
    padding: 10px;
    margin-bottom: 2em;
    width: max-content;
    display: none;
  }

  #cs_lang_responsive .nav.navbar-nav.d-md-none.langmobile_hidden {
    display: block;
  }

  .newcat .catdescript img {
    display: none;
  }

  .menu-open a.classlink {
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
  }

  div.newcat-subs.menu-open {
    overflow: unset;
    height: auto;
    top: 3em;
  }

  .language_mobile::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}

@media (max-width: 980px) {
  .newcat .catheader {
    font-size: 9px;
    padding: 0.4px;
    padding-left: 10px;
    width: 86%;
    margin-left: 0.8em;
  }
}

@media (max-width: 765px){
  .newcat .catheader {
    width: 93.5%;
    margin-left: 0.8em;
  }s
}

